---
import IconDownload from "@icons/IconDownload.astro";
import celular from "@assets/images/Celular DIT Group.webp";

interface Props {
  cls1?: string;
  cls2?: string;
  cls3?: string;
  cls4?: string;
  width?: number;
  height?: number;
}

const {
  cls1 = "none",
  cls2 = "#0d2b4b",
  cls3 = "url(#clip-path)",
  cls4 = "#009ee2",
  width = 807.8,
  height = 191.67,
} = Astro.props;
---

<style define:vars={{ cls1: cls1, cls2: cls2, cls3: cls3, cls4: cls4 }}>
  .cls-1 {
    fill: var(--cls1);
  }
  .cls-2 {
    fill: var(--cls2);
  }
  .cls-3 {
    clip-path: var(--cls3);
  }
  .cls-4 {
    fill: var(--cls4);
  }
</style>

<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="90 30 722.8 161.67"
  ><defs
    ><clipPath id="clip-path" transform="translate(96.75 73.18)"
      ><rect class="cls-1" width="711.05" height="105.64" rx="52.82"
      ></rect></clipPath
    ></defs
  ><g id="Layer_2" data-name="Layer 2"
    ><g id="Layer_1-2" data-name="Layer 1"
      ><rect
        class="cls-2"
        x="96.75"
        y="73.18"
        width="711.05"
        height="105.64"
        rx="52.82"></rect><g class="cls-3"
        ><path
          class="cls-4"
          d="M-96.75,57.89S134.83,41.45,211.16-71.35l25.73-1.83s48.52,145-197.46,188.31Z"
          transform="translate(96.75 73.18)"></path><path
          class="cls-4"
          d="M112.38,109s95.24-19.91,127.51-97.54c0,0-18.25,76.8-98.94,107Z"
          transform="translate(96.75 73.18)"></path></g
      >
      <text
        x="69%"
        y="64%"
        text-anchor="middle"
        alignment-baseline="middle"
        class="cls-1"
        font-size="18"
        fill="white"
      >
        Entérate sobre nuestros servicios
      </text>
      <a href="/docs/BROCHURE DIT GROUP EMPRESARIAL.pdf" target="_blank" download="BROCHURE DIT GROUP EMPRESARIAL.pdf">
        <rect x="55%" y="76%" width="204" height="35" rx="18" fill="#009ee2">
        </rect>
        <text
          x="69%"
          y="88%"
          text-anchor="middle"
          alignment-baseline="middle"
          font-weight="bold"
          font-size="15"
          fill="white"
        >
          DESCARGAR BROCHURE
        </text>
      </a>
      <image
        x="410"
        y="59"
        width="500"
        height="500"
        href={celular.src}
        transform="scale(0.35)"
      />
      <g transform="translate(580, 92) scale(0.35)">
        <IconDownload />
      </g>
    </g>
  </g>
</svg>
