---
interface Props {
    width?: number;
    height?: number;
}

const { width = 800.35, height = 100 } = Astro.props;
---

<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 272.98 102.6"
    width={width}
    height={height}
    ><defs
        ><linearGradient
            id="linear-gradient"
            y1="51.3"
            x2="272.98"
            y2="51.3"
            gradientUnits="userSpaceOnUse"
            ><stop offset="0" stop-color="#009ee2"></stop><stop
                offset="1"
                stop-color="#007df6"></stop></linearGradient
        ></defs
    ><g id="Layer_2" data-name="Layer 2"
        ><g id="Layer_1-2" data-name="Layer 1"
            ><rect class="cls-1" width="272.98" height="102.6" rx="51.3"
            ></rect><circle class="cls-2" cx="51.37" cy="51.3" r="43.51"
            ></circle><path
                class="cls-3"
                d="M64.85,64.49a22.65,22.65,0,0,0-5.34,3.12,9.08,9.08,0,0,1-2.65,1.29,3.65,3.65,0,0,0-1.25-3.29A2.92,2.92,0,0,0,54,65a45.61,45.61,0,0,1-11.74-3.31C36,59.21,28.8,65.1,28.49,65.36a1.08,1.08,0,0,0-.18.24,3.49,3.49,0,0,0-3.73-.16l-3.13,1.81A3.5,3.5,0,0,0,20.17,72l5.16,8.92a3.5,3.5,0,0,0,3,1.74,3.45,3.45,0,0,0,1.73-.46l3.14-1.81A3.5,3.5,0,0,0,34.92,77c2.27-.91,5-.46,8.43.12a46.93,46.93,0,0,0,8,.86,26.11,26.11,0,0,0,3.25-.2c6.2-.78,11.12-4.19,14.18-6.93A3.77,3.77,0,0,0,69,65.44a3.74,3.74,0,0,0-4.12-.93ZM32,78.38l-3.13,1.81a1.18,1.18,0,0,1-1.59-.43l-5.15-8.93a1.15,1.15,0,0,1,.43-1.59l3.13-1.81a1.22,1.22,0,0,1,.58-.15,1.17,1.17,0,0,1,1,.58l5.15,8.93A1.16,1.16,0,0,1,32,78.38Zm35.19-9.3c-2.28,2-7,5.61-12.9,6.34a36.09,36.09,0,0,1-10.59-.64c-3.65-.62-6.86-1.14-9.72,0l-4.34-7.52a1,1,0,0,0,.3-.16c.06-.06,6.4-5.27,11.44-3.26a47.67,47.67,0,0,0,12.41,3.46.63.63,0,0,1,.38.13,1.52,1.52,0,0,1,.3,1.38v0a1.12,1.12,0,0,1-.59.66,38.45,38.45,0,0,1-8.5.13,1.16,1.16,0,0,0-.25,2.3c.44.05,10.84,1.16,15.74-2.52a19.93,19.93,0,0,1,4.78-2.82A1.47,1.47,0,0,1,67.3,67a1.45,1.45,0,0,1,.41,1,1.47,1.47,0,0,1-.47,1.07Z"
            ></path><path
                class="cls-3"
                d="M82.58,30.59l-5.15-8.93a3.49,3.49,0,0,0-4.76-1.27L69.54,22.2a3.51,3.51,0,0,0-1.72,3.42c-2.26.92-5,.46-8.42-.12a37.93,37.93,0,0,0-11.26-.66C41.93,25.62,37,29,34,31.77a3.79,3.79,0,0,0,2.56,6.58,4,4,0,0,0,1.39-.25A22.69,22.69,0,0,0,43.24,35a8.89,8.89,0,0,1,2.66-1.28A3.69,3.69,0,0,0,47.14,37a3,3,0,0,0,1.59.58,46,46,0,0,1,11.75,3.31,9,9,0,0,0,3.35.62c5.26,0,10.18-4,10.43-4.26a1,1,0,0,0,.2-.25,3.43,3.43,0,0,0,2,.64,3.36,3.36,0,0,0,1.73-.47l3.14-1.81a3.47,3.47,0,0,0,1.27-4.75ZM61.34,38.7a47.67,47.67,0,0,0-12.41-3.46.63.63,0,0,1-.38-.13,1.53,1.53,0,0,1-.3-1.38v0a1.12,1.12,0,0,1,.59-.66,38.36,38.36,0,0,1,8.49-.13,1.16,1.16,0,0,0,.26-2.3c-.44-.05-10.84-1.16-15.74,2.52A20.12,20.12,0,0,1,37.07,36a1.47,1.47,0,0,1-1.61-.36,1.45,1.45,0,0,1-.41-1,1.42,1.42,0,0,1,.47-1.07c2.28-2.05,7-5.6,12.9-6.33A35.35,35.35,0,0,1,59,27.83c3.66.61,6.86,1.13,9.73,0l4.34,7.52a1.08,1.08,0,0,0-.3.16c-.06.06-6.41,5.27-11.44,3.26Zm19.35-6.07a1.13,1.13,0,0,1-.54.71L77,35.15a1.18,1.18,0,0,1-1.59-.43l-5.15-8.93a1.17,1.17,0,0,1,.43-1.59l3.13-1.81a1.17,1.17,0,0,1,1.59.43l5.16,8.93a1.17,1.17,0,0,1,.11.88Z"
            ></path><path
                class="cls-3"
                d="M44.49,37.25a15.69,15.69,0,0,0-6.6,22,1.16,1.16,0,0,0,1,.57,1.06,1.06,0,0,0,.59-.17A1.16,1.16,0,0,0,39.89,58a13.34,13.34,0,0,1,5.62-18.71,1.16,1.16,0,0,0-1-2.08Z"
            ></path><path
                class="cls-3"
                d="M57.25,63.25a1.17,1.17,0,0,0,.52,2.21,1,1,0,0,0,.51-.12A15.54,15.54,0,0,0,67,51.3a15.7,15.7,0,0,0-2.14-7.94,1.16,1.16,0,0,0-2,1.19,13.35,13.35,0,0,1-5.62,18.72Z"
            ></path><path
                class="cls-4"
                d="M56.36,46.6l-6.92,6.92-3-3a1.16,1.16,0,0,0-1.64,0,1.15,1.15,0,0,0,0,1.63L48.63,56a1.15,1.15,0,0,0,.82.34,1.2,1.2,0,0,0,.83-.34L58,48.24a1.16,1.16,0,0,0-1.64-1.64Z"
            ></path>
            <foreignObject x="91" y="0" width="182" height="102.6">
                <div class="trust-content">Confianza en los clientes</div>
            </foreignObject>
        </g></g
    ></svg
>
<style>
    .cls-1 {
        fill: url(#linear-gradient);
    }
    .cls-2 {
        fill: #f2f2f2;
    }
    .cls-3 {
        fill: #0d2b4b;
    }
    .cls-4 {
        fill: #009ee2;
    }
    .trust-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 17px;
        color: white;
        overflow-wrap: break-word;
        padding: 0 10px;
    }
</style>
