@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@plugin "@tailwindcss/typography";



:root {
	--accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
	0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
	
  --primary: #0d2b4b;
  --secondary: #f2f2f2;
  --tertiary: #ffffff;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo2-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2 Bold";
  src: url("/fonts/Exo2-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2 Extra Bold";
  src: url("/fonts/Exo2-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2 Medium";
  src: url("/fonts/Exo2-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2 Semi Bold";
  src: url("/fonts/Exo2-SemiBold.ttf") format("truetype");
}

html {
  font-family: "Exo 2", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--tertiary);
}
