---
import { navLinks } from "@data/navLinks";
import Search from "./Search.astro";
---

<header
  class="py-8 bg-[#0d2b4b] text-white my-0 flex items-center justify-center"
>
  <nav class="flex items-center justify-around w-full max-w-7xl">
    <img src="" alt="logo" />
    <ul class="flex flex-wrap items-center justify-around w-1/2 font-semibold">
      {navLinks.map((link) => <a href={link.href}>{link.name}</a>)}
    </ul>
    <Search />
  </nav>
</header>
