---
import search from "@assets/icons/search.svg";
---

<div
  class="bg-white rounded-full p-2 w-20 h-10 flex items-center justify-end cursor-text"
>
  <a href="" class="hover:bg-gray-100 rounded-full w-1/2 p-2">
    <img src={search.src} alt="lupa" />
  </a>
</div>
