---
import Service from "@components/services/Service.astro";
import Layout from "@layouts/Layout.astro";
import { services } from "@data/services";
import { IconServicesMapper } from "@utils/iconServicesMapper";
import bg from "@assets/bg-services.svg";
---

<Layout>
  <section class="mx-auto my-24 flex flex-col items-center gap-10 w-full max-w-10/12">
    {
      services.map((service, index) => {
        const Icon = IconServicesMapper(service.title);
        return Icon ? (
          <Service service={service} index={index}>
            <Icon />
          </Service>
        ) : null;
      })
    }
  </section>
</Layout>

<style define:vars={{ bg: `url(${bg.src})` }}>
  section {
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
  }
</style>
