---
import Service from "@components/services/Service.astro";
import Layout from "@layouts/Layout.astro";
import { services } from "@data/services";
import { IconServicesMapper } from "@utils/iconServicesMapper";
---

<Layout>
  <section class="mx-auto my-24 flex flex-col gap-10 max-w-10/12">
    {
      services.map((service) => {
        const Icon = IconServicesMapper(service.title);
        return Icon ? (
          <Service service={service}>
            <Icon />
          </Service>
        ) : null;
      })
    }
  </section>
</Layout>
