---
import Download from "@icons/Download.astro";
---

<section class="max-w-7xl mx-auto my-0">
  <a href="" target="_blank" class="bg-[]">DESCARGAR</a>
  <Download cls1="#009ee2" cls2="#0d2b4b" />
</section>
