---
import Comteco from "@icons/Comteco.astro";
import Entel from "@icons/Entel.astro";
import Huawei from "@icons/Huawei.astro";
import Tigo from "@icons/Tigo.astro";
import Viva from "@icons/Viva.astro";
---


<h1 class="font-bold text-center text-2xl text-[#0d2b4b]">NUESTROS CLIENTES</h1>
<section
  class="flex flex-wrap items-center justify-center gap-16 p-8 mx-auto mb-6 max-w-6xl"
>
  <Huawei />
  <Entel />
  <Tigo />
  <Viva />
  <Comteco />
</section>
