---
import { Routes } from "@data/navLinks";
import DitCommercial from "@icons/DitCommercial.astro";
import DitOutsourcing from "@icons/DitOutsourcing.astro";
import DitTransport from "@icons/DitTransport.astro";
---

<h1 class="text-center text-3xl">Servicios de ingeniería telecom</h1>
<section class="flex flex-wrap justify-center gap-8 p-8 mx-auto my-0">
  <a class="w-72" href={Routes.Transport}>
    <DitTransport />
  </a>
  <a class="w-72" href={Routes.Outsourcing}>
    <DitOutsourcing />
  </a>
  <a class="w-72" href={Routes.Commercial}>
    <DitCommercial />
  </a>
</section>
