---
import { Image } from "astro:assets";
import contact from "@assets/images/form img.webp";
import FormContact from "./FormContact.astro";
---

<section class="flex mx-auto gap-10 bg-[#f2f2f2] w-full">
  <div class="flex flex-wrap mx-auto max-w-7xl">
    <div class="overflow-hidden max-w-lg h-[600px] flex mx-auto">
      <Image
        class="object-cover object-left w-full h-full"
        src={contact}
        alt="Contacto"
        width={1280}
        height={600}
      />
    </div>
    <FormContact />
  </div>
</section>
