---

---

<form class="max-w-3xl py-11 px-6 sm:px-12 md:px-8 mx-auto">
  <h1 class="text-3xl font-bold mb-4 px-3 ">CONTÁCTANOS</h1>
  <p class="mb-6 px-3 ">
    ¿Estás interesado en algún producto y/o servicio? <br />
    Llena el siguiente formulario y nos pondremos en contacto.
  </p>
  <div class="flex flex-wrap mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block text-gray-700 text-sm mb-2" for="form-name">
        Nombre
      </label>
      <input
        class="block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="form-name"
        type="text"
        required
      />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block text-gray-700 text-sm mb-2" for="form-company">
        Compañía
      </label>
      <input
        class="block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="form-company"
        type="text"
        required
      />
    </div>
  </div>
  <div class="flex flex-wrap mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block text-gray-700 text-sm mb-2" for="form-email">
        E-mail
      </label>
      <input
        class="block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="form-email"
        type="email"
        required
      />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block text-gray-700 text-sm mb-2" for="form-tel">
        Teléfono
      </label>
      <input
        class="block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
        id="form-tel"
        type="tel"
        required
      />
    </div>
  </div>
  <div class="w-full px-3 mb-6">
    <label class="block text-gray-700 text-sm mb-2" for="form-area">
      Consulta
    </label>
    <textarea
      class="block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
      id="form-area"
      rows="6"
      required
    ></textarea>
  </div>

  <div class="text-right px-3">
    <button
      class="w-full sm:w-auto md:w-auto py-2 px-6 bg-blue-500 hover:bg-blue-600 text-white rounded font-bold cursor-pointer"
    >
      Enviar
    </button>
  </div>
</form>
