---
import { Image } from "astro:assets";
interface Props {
  src: ImageMetadata;
  title: string;
  description: string;
}

const { src, title, description } = Astro.props;
---

<article class="flex md:flex-nowrap flex-wrap justify-center bg-[#f2f2f2] p-4 rounded-lg shadow-md max-w-md gap-4">
  <Image src={src} alt={title} width={160} height={60} />
  <div>
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
</article>
