---
interface Props {
  title: string;
  icon: any;
  hasHover?: boolean;
  hoverBgColor?: string;
  hoverTextColor?: string;
  hoverScale?: boolean;
  bgColor?: string;
  shadow?: boolean; 
}

const {
  title,
  icon: Icon,
  hasHover = false,              
  hoverBgColor = '#000000',      
  hoverTextColor = '#ffffff',    
  hoverScale = false,
  bgColor = 'bg-white',   
  shadow = true,         
} = Astro.props;

let backgroundClass = "";

if (bgColor) {
  backgroundClass = "bg-[" + bgColor + "]";
} 
---

<article
  class={`
    /* Clases base */
    w-44
    p-4
    rounded-lg
    flex
    flex-col
    items-center
    bg-
    gap-4
    text-[#3b4049]
    ${backgroundClass}
    ${shadow ? "shadow-md" : ""} 
    ${hasHover ? 'card-service' : ''}
    ${hasHover && hoverScale ? 'hover:scale-110' : ''}
  `}
 
  style={hasHover
    ? `--hover-bg:${hoverBgColor}; --hover-text:${hoverTextColor};`
    : ''
  }
>
  <Icon />
  <h3 class="text-xl text-center font-semibold">
    {title}
  </h3>
</article>

<style>
  .card-service {
    transition: all 0.3s ease, color 0.3s ease;
  }

  .card-service:hover {
    background-color: var(--hover-bg, #000000);
    color: var(--hover-text, #ffffff);
  }
  </style>
