---
interface Props {
  title: string;
  icon: any;
  textColor?: string;
}

const { title, icon: Icon, textColor = "#3b4049" } = Astro.props;
---

<article
  class="w-44 bg-[#f2f2f2] p-4 rounded-lg shadow-md flex flex-col items-center justify-center gap-4 h-56"
>
  <Icon />
  <h3 style={{ color: textColor }} class="text-xl text-center font-semibold">
    {title}
  </h3>
</article>
