---
import CardService from "./CardService.astro";

interface Props {
  title: string;
  service: {
    title: string;
    icon: any;
  }[];
  textColor?: string;
  maxWidth?: string;
}

const { title, service, textColor, maxWidth = "48rem" } = Astro.props;
---

<h1 class="text-center text-3xl">{title}</h1>
<section
  style={{ maxWidth: maxWidth }}
  class="mx-auto my-5 flex flex-wrap gap-10 items-center justify-center"
>
  {
    service.map(({ title, icon }) => (
      <CardService title={title} icon={icon} textColor={textColor} />
    ))
  }
</section>
