---
import CardService from "./CardService.astro";

interface Props {
  title: string;
  service: {
    title: string;
    icon: any;
  }[];
}

const { title, service } = Astro.props;
---

<h1 class="text-center text-3xl">{title}</h1>
<section
  class="mx-auto my-5 flex flex-wrap gap-10 items-center justify-center max-w-3xl"
>
  {service.map(({ title, icon }) => <CardService title={title} icon={icon} />)}
</section>
